<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      body {
        font-family: "Lexend Deca", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
    </style>
    <meta charset="UTF-8">
    <title>Data Matching Tool</title>
</head>
<body>
  <div>
    <h1>
      Data Matching Tool
    </h1>
  </div>
  <form action="/login" method="POST">
    <input type="username" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log in">
  </form>
  <h4>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <span style="color: red;">{{ message }}</span>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </h4> 
</body>
</html>
