<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      font-family: "Lexend Deca", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  </style>
  <meta charset="UTF-8">
  <title>Data Matching Tool</title>
  <style>
    .header-container {
      display: flex;
      align-items: center;
    }

    #linkButton {
      margin-left: 30px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th {
        background-color: #f0f0f0;
        text-align: left;
        padding: 8px;
        border: 1px solid #ddd;
    }

    th[colspan="2"] {
        width: 20%;
    }
  </style>
  
</head>
<body>
  <div>
    <h1>
      Data Matching Tool
    </h1>
  </div>

  <div style="display: flex; margin-right: 20px;">
    <div style="margin-right: 20px;">
      <p>Hello, {{ login_user }}!</p>
    </div>
    <div>
      <p><a href='/logout'>Logout</a></p>
    </div>
  </div>
  

  <h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Query">
    </form>
  </h2>

  <div class="header-container">
    <h2>Matching Results</h2>
    <button id="linkButton">Export</button>
    <a id="linkAnchor" href="/export" style="display: none;"></a>
  </div>
    
  <table>
      <thead>
          <tr>
              {% for header in headers %}
                  <th colspan="2">{{ header }}</th>
              {% endfor %}
          </tr>
      </thead>
      <tbody>
          {% for row in preview_rows %}
              <tr>
                  {% for cell in row %}
                      <td colspan="2">{{ cell }}</td>
                  {% endfor %}
              </tr>
          {% endfor %}
      </tbody>
  </table>
  {% if matching_rows > 50 %}
    <p>...and {{ matching_rows - 50 }} more truncated rows</p>
  {% endif %}

  <script>
    var button = document.getElementById("linkButton");
    var anchor = document.getElementById("linkAnchor");

    button.addEventListener("click", function() {
      anchor.click();
    });
  </script>
</body>
</html>


  